body {
  background-color: #f8f9fa;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.navbar {
  margin-bottom: 20px;
}

button.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
}